body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #113f67;
}

h1 {
  color: #113f67;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #113f67;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li :first-letter {
  text-transform: capitalize;
}

.author {
  font-family: "Comfortaa", cursive;
  text-align: center;
  margin: 15px 0px 0px 0px;
  line-height: 1;
}

.overview {
  margin-bottom: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    465px at -15.1% -25%,
    rgb(17, 130, 193) 0%,
    rgb(67, 166, 238) 49%,
    rgb(126, 203, 244) 90.2%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.weather-forecast {
  margin-top: 50px;
  text-align: center;
  color: #000;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #113f67;
}

.weather-forecast-temperature-max {
  color: #113f67;
  font-weight: 600;
}

.weather-forecast-temperature-min {
  color: #113f67;
  opacity: 0.8;
}

.weather-temperature img {
  margin-top: -32px;
  height: 100px;
  width: 100px;
}

.weather-temperature b {
  color: #fff;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
